:root {
  --global-bg-color: #fff;
  --global-code-bg-color: rgba(38, 152, 186, 0.05);
  --global-text-color: #000;
  --global-text-color-light: #828282;
  --global-theme-color: #0076df;
  --global-hover-color: #0076df;
  --global-footer-bg-color: #1c1c1d;
  --global-footer-text-color: #e8e8e8;
  --global-footer-link-color: #fff;
  --global-distill-app-color: #828282;
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-distill-h-color: rgb(21, 153, 87);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
em,
div,
li,
span,
strong {
  color: var(--global-text-color);
}

body {
  background-color: var(--global-bg-color);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  margin-left: 10vw;
  margin-right: 10vw;
}

a {
  color: var(--global-theme-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
Styles for navigation bar
*/
.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}

.navbar .navbar-nav {
  list-style: none;
  padding: 0; /*Make the bar left align*/
}

.navbar .navbar-nav .nav-item {
  display:inline-block;
}

/*
General navigation item
*/
.navbar .navbar-nav .nav-item .nav-link {
  color: var(--global-text-color);
  text-decoration: none;
  padding: 8px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--global-hover-color);
}

/*
Active navigation item
*/
.navbar .navbar-nav .nav-item.active > .nav-link {
  background-color: inherit;
  font-weight: 500;
  color: var(--global-theme-color);
}

.navbar .navbar-nav .nav-item.active > .nav-link:hover {
  color: var(--global-hover-color);
}


/* header {
  text-align: center;
  border-bottom: darkslateblue 2px dotted;
  padding: 5px;
} */

/* h1 {
  color: #1050aa; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 2.2em;
} */

.font-weight-bold {
  font-weight: 700;
}

.post-title {
  /* border: 2px solid green; */
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  margin-bottom: 0px;
  font-weight: 400;
}

.desc {
  margin-top: 0px;
  padding-top: 0px;
  /* border: 2px solid green; */
}

.picture-box {
  margin-inline-end: 0px;
}

.profile-picture {
  float: right;
  border-radius: 1%;
  margin-left: 20px;
  /* border: 2px solid green; */
  
  max-height: 370px;
  max-width: 370px;
}

/*Education table*/
.table-education th {
  font-weight: 500;
  width: 12em;
  vertical-align: top;
}

.table-education td {
  vertical-align: top;
}

.degree {
  font-weight: 500;
  margin-top: 0px;
}

