// Modal
#detailModal.modal(tabindex='-1')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5.modal-title Detail
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
      .modal-body
        form#inputForm
          .mb-3
            label.form-label(for='inputName') Name
            input#inputName.form-control(type='text', aria-describedby='Name')
          .mb-3
            label.form-label(for='inputSex') Sex
            select#inputSex.form-select(aria-label='Default select example')
              option(selected='', value='male') Male
              option(value='female') Female
          .mb-3
            label.form-label(for='inputDOB') Date of birth
            input#inputDOB.form-control(type='date', aria-describedby='Date of birth')
          .mb-3
            label.form-label(for='inputBreed') Breed
            input#inputBreed.form-control(type='text', aria-describedby='Breed')
          .mb-3
            label.form-label(for='inputCity') City
            input#inputCity.form-control(type='text', aria-describedby='City')
          .mb-3
            label.form-label(for='inputProvince') Province
            input#inputProvince.form-control(type='text', aria-describedby='Province')
      .modal-footer
        button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
        button.btn.btn-primary(type='submit', form='inputForm') Save changes